<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="form-container">
      <form action="/user/login" method="post" class="login-form">
        <h1>Login</h1>
        <input type="email" name="email" id="email" placeholder="Email" />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
        <input type="submit" value="Login" />
      </form>
      <% if (locals.status === 'failed') { %>
      <p class="error-message"><%= locals.message %></p>
      <% } %>
      <div class="sign-up-link">
        <p>new user?</p>
        <form action="/signup"><input type="submit" value="sign up" /></form>
      </div>
    </div>
  </body>
</html>
