<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/signup.css" />
    <title>Signup</title>
  </head>
  <body>
    <div class="form-container">
      <form action="/user/signup" method="post" class="signup-form">
        <h1>Sign Up</h1>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
        />
        <input type="email" name="email" id="email" placeholder="Email" />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Confirm Password"
        />
        <input type="submit" value="Create Account" />
      </form>
      <% if (locals.status === 'failed') { %>
      <p class="error-message"><%= locals.message %></p>
      <% } %>
    </div>
  </body>
</html>
