@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  background-color: rgb(36, 34, 34);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
  align-items: center;
  border: 0.1rem solid white;
  padding: 1rem 3rem 3rem 3rem;
  height: max-content;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(128, 0, 128, 0.25);
  -moz-box-shadow: 0px 0px 5px 5px rgba(128, 0, 128, 0.25);
  box-shadow: 0px 0px 5px 5px rgba(128, 0, 128, 0.25);
}

.login-form h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem;
  text-shadow: 0.25rem 0.25rem purple;
}

.login-form input {
  padding: 0.5rem;
  width: 20rem;
  outline: none;
  border: none;
  border-bottom: 0.1rem solid white;
  background: none;
}

.login-form input:active {
  width: 20rem;
}

.login-form input:last-child {
  width: auto;
  border: none;
  padding: 0.5rem;
  background: turquoise;
  border-radius: 0.2rem;
  transition: all 0.25s linear;
  cursor: pointer;
  color: black;
  margin-top: 2rem;
}

.login-form input:last-child:hover {
  background: purple;
  color: white;
}

.error-message {
  color: red;
  margin: 1rem;
}

.sign-up-link {
  display: flex;
  gap: 0.5rem;
  margin: 1rem;
}

.sign-up-link form input {
  color: turquoise;
  background: none;
  border: none;
}
